<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <connectionStrings>
    <!--<add name="moviesDBConnectionString" connectionString="Data Source=LAB100\HASHDEMO;Initial Catalog=moviesDB;Integrated Security=True"
  providerName="System.Data.SqlClient" />-->
    <add name="ProductsDBConnectionString"  connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=igroup79_test1;
           User ID=igroup79;Password=igroup79_36024" providerName="System.Data.SqlClient"/>
  </connectionStrings>


</configuration>
